/* @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{
    font-family: 'Comic Neue', cursive !important;

} */


*{
    margin: 0;
    padding: 0;
    
}



body{

    background-repeat: no-repeat;
    background-size: cover;
    
}


.padding8{
    padding: 8px;
}

ul{
    list-style-type: circle;
    padding: 4px;
    margin-left: 12px;

}
.toggleButtonGroup button{
    border: none !important;
}

.img200px img, .img200px{
    width: 200px;
}

.blacken{
    background-color: black;
}


.svg-large{
    font-size: 30px;
}


